hr {
    margin:10rem 0;
    display: block;
    border:none;
    border-bottom: 1px solid #ccc;
    height:0;
}

.page p,
.page blockquote,
.page ul,
.page ol,
.page dl,
.page table,
.page pre,
.page code,
.page section,
.page article{
  margin: 15px 0;
    overflow: auto;
}

h1{
    font-family: var(--typeface);
    font-size: 6rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.04em;
}
h2{
    font-family: var(--typeface);
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
}


h3{
    font-family: var(--typeface);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

h4{
    font-family: var(--typeface);
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1;
}

h5, h6{
    font-family: var(--typeface);
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1;
}

.page dl {
  padding: 0;
}

.page dl dt {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
}

.page dl dd {
  margin-bottom: 15px;
  padding: 0 15px;
}


.card {background:var(--color1);padding:2em;}
.card *:first-child {margin-top:0;}

blockquote {
    border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;}


.page table {width: 100%; border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;}

.table{overflow-x:auto; margin:30px 0;}

.page table th,
.page table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
        text-align: left;
}

.page table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.page table tr:nth-child(2n) {
  background-color: #f8f8f8;
}



code { border-radius: 3px;}
code, pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
}

code:before,
code:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

pre {
    background: #eee;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    border: 0 solid #3f87a6;
    border-left-width: 5px;
    border-right-width: 0;
}


.highlight {
    background: var(--highlight);
    color:#eee;
    border-radius: 3px;
    margin: 15px 0;
    overflow: auto;
    padding:1em;
}



.list ol {
    list-style: decimal;
    list-style-position:outside;
    margin: 0;
    padding: 0;
}

.list ul {
    list-style: disc;
    list-style-position:outside;
}

.list ul li, .list ol li {
    margin-left: 1.3em;
    padding-left: 0.3em;
}


.page .pagination {list-style: none;}
.pagination ul li{
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd; /* Gray */
    margin: 0 2px;
}
.pagination a.active {background-color: #999; color:#fff;}

.pagination a:hover:not(.active) {background-color: #f2f2f2;}

.pagination .prev:before {
        content: '\00ab  ';
}
.pagination .next:after {
            content: ' \00bb';
}

.pagination li:first-child a{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.btn.priority {background-color:var(--priority); color:#fff;}

.priority {background-color:var(--priority); color:#fff; padding:1rem;}
.success {background-color:var(--success); color:#fff; padding:1rem;}
.error {background-color:var(--error); color:#fff; padding:1rem;}
.warning {background-color:var(--warning); color:#fff; padding:1rem;}
.secondary {background-color:var(--secondary); color:#fff; padding:1rem;}



.side {background-color:#fff;}
.disabled {opacity: 0.3; cursor: not-allowed;}


